@{
    ViewData["Title"] = "Sobre a demonstração";
}
<h1>@ViewData["Title"]</h1>

<p>Este projeto tem o objetivo de apresentar o uso do serviço do OCI AI Vision para classificação e recohecimento de imagem.</p>

<p>Projeto construído para a disciplina Cloud Computing e Internet das Coisas do curso Tecnologia em Sistemas para Internet (TSI) do Senac-SP.</p>

<h2>Funcionalidades</h2>
<ol>
    <li>Uma aplicação Web MVC desenvolvida com ASPNET Core</li>
    <li>pload de Imagem</li>
    <li>Reconhecimento dos padrões identificados na imagem</li>
</ol>