@{
    ViewData["Title"] = "Sobre a demonstração";
}
<h1>@ViewData["Title"]</h1>

<p>Esta demonstração realiza a classificação de imagens com o serviço OCI AI Vision.</p>
<p>Funcionalidades</p>
<ol>
    <li>Upload de arquivos para o storage do OCI</li>
    <li>Classificação da Imagem</li>
</ol>